body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    background-color: #E8FFD7;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: #3E5F44;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #93DA97;
    color: #3E5F44;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}



button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: #5E936C;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hwb(136 21% 30%);
}
button:active{
    background-color: hwb(136 21% 50%);
}

.opbtn{
    background-color: orange;
}
.opbtn:hover{
    background-color: hsl(39, 100%, 70%);
}
.opbtn:active{
    background-color: hsl(39, 100%, 90%);
}
