body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E8FFD7;
    padding: 10px;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: #3E5F44;
    border-radius: 15px;
    width: 100%;
    max-width: 320px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 15px;
    font-size: 2.5rem;
    text-align: right;
    border: none;
    background-color: #93DA97;
    color: #3E5F44;
    box-sizing: border-box;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 15px;
}

button{
    width: 100%;
    aspect-ratio: 1;
    max-width: 65px;
    max-height: 65px;
    border-radius: 15px;
    border: none;
    background-color: #5E936C;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hwb(136 21% 30%);
}

button:active{
    background-color: hwb(136 21% 50%);
}

.opbtn{
    background-color: orange;
}

.opbtn:hover{
    background-color: hsl(39, 100%, 70%);
}

.opbtn:active{
    background-color: hsl(39, 100%, 90%);
}


